@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.form-first-form {
  display: flex;
  flex-direction: column;
	padding: 0 1%;

  color: #3d5354;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
}

.form-first-form div, button{
	display: flex;
	flex-direction: column;
}

.center {
  color: #03363d;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.form-first-warning {
  margin: 5px 0;

  color: #f00;

  font-size: 0.75em;
  font-weight: 400;
}

.form-first-input {
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: none;
  height: 2em;
  width: 100%;
}

.form-first-message textarea {
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  resize: none;
}

.form-first-button{
  border: 1px solid #30aabc;
  height: 2em;
  width: 100%;

  background-color: #30aabc;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

.form-first-button:hover,.form-first-button:focus {
  border: 1px solid #1c8a93;

  background-color: #1c8a93;
}

.form-first-warning-active {
  border-color: #f00;

  font-size: 0.75em;
  font-weight: 400;
}
